$color-black:         #000000;
$color-white:         #FFFFFF;
$color-grey:          #979797;
$color-blue:          #408DDC;

$max-xs:                  'max-width: 576px';
$max-sm:                  'max-width: 768px';
$max-md:                  'max-width: 992px';
$min-xs:                  'min-width: 576px';
$min-sm:                  'min-width: 768px';
