@media($min-sm) {
  .logo {
    width: 4.3vw;
  }
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media($max-sm) {
  .logo {
    width: 80px;
    transform: rotate(90deg) translate(-80px, -80px);
  }
}

@media($max-md) {
  .banner-image
    img {
    margin-top: 20px;
  }
}
